* {

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-size: 20px;
}

nav h1 {
    font-size: 20px;
    font-weight: lighter;
}

section h2 {
    text-align: center;
}

section div p {
    text-align: center;
}

section div button {
    align-content: center;
    margin: auto;
    display: block;
    color: white;
    background-color: purple;
    border-radius: 5px;
}

hr {
    margin: auto 250px auto 250px;
    opacity: 50%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 20px;
}

.hide {
    display: none;
}

#question {
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 50px;
}

#start-btn {
    margin-top: 20px;
}

#result {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    opacity: 50%;
}
